<h1>Friends</h1>
<div class="search-area">
  <h3>Search Friends</h3>
  <%= form_tag search_friend_path, remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9 no-right-padding">
        <%= text_field_tag :friend, params[:friend], placeholder: "Name or email", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-3 no-left-padding">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <%= fa_icon "search 2x" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="friend-results">
</div>
<% if !@followed_friends.empty? %>
  <%= render 'friends/list' %>
<% else %>
  <div class="row">
    <div class="col-9">
      <p class="lead">You are not following friends yet!</p>
      <em>
        Friends can help you get new investment ideas since you will be able to see which stocks they are tracking.
        Please enter a user's name or email in the search form. You can also look at all the users that are using
        the application if you just enter an <strong>@</strong> symbol.
      </em>
    </div>
  </div>
<% end %>
